<h1>Flights</h1>

<table>
  <thead>
  <tr>
    <th>Number</th>
    <th>Departure airport</th>
    <th>Arrival airport</th>
    <th>Business class seats</th>
    <th>Economy class seats</th>
    <th>Departure date</th>
    <th>Duration</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @flights.each do |flight| %>
    <tr>
      <td><%= flight.number %></td>
      <td><%= flight.departure_airport %></td>
      <td><%= flight.arrival_airport %></td>
      <td><%= flight.business_class_seats %></td>
      <td><%= flight.economy_class_seats %></td>
      <td><%= flight.departure_date.strftime("%m/%d/%Y %I:%M %p") %></td>
      <td><%= flight.duration %></td>
      <td><%= link_to "Reserve", new_reservation_path(flight_id: flight.id) %></td>    </tr>
  <% end %>
  </tbody>
</table>