<%= stylesheet_link_tag "reservation", "data-turbo-track": "reload" %>
<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card py-3 px-2">
        <div class="division">
          <div class="row">
            <div class="connexion"><span>Reservation</span></div>
            <div class="col-3"><div class="line r"></div></div>
          </div>
        </div>
            <div class="form-group">
              <div class="reservation-card__label texte-white">User:</div>
              <div class="reservation-card__value texte-white"><%= reservation.user_id %></div>
            </div>
          <div class="form-group">
            <div class="reservation-card__label texte-white">Flight:</div>
            <div class="reservation-card__value texte-white"><%= reservation.flight_id %></div>
          </div>
          <div class="form-group">
            <div class="reservation-card__label texte-white">Count:</div>
            <div class="reservation-card__value texte-white"><%= reservation.count %></div>
          </div>
            <div class="form-group">
              <div class="reservation-card__label texte-white">Type:</div>
              <div class="reservation-card__value texte-white"><%= reservation.seat_class %></div>
            </div>
      </div>
    </div>
  </div>
</div>