<!DOCTYPE html>
<html>
  <head>
    <title>PassPartour</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <nav>
      <ul class="menu">
        <li><%= link_to "Réservations", reservations_path, class: "button" %></li>
        <li><%= link_to "Vols", flights_path, class: "button" %></li>
        <% if current_user %>
          <li><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: "button" %></li>
        <% else %>
          <li><%= link_to "Connexion", new_user_session_path, class: "button" %></li>
        <% end %>
      </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
